.pathway{font-size:11px;}
#jsn-footer *{font-size:11px;}

/* GENERAL html elements */

h4{
	margin-top: 20px;
}

/* Newsliste */
table.newsentry td, table.newsentry a{font-size:11px;vertical-align: top;}
table.newsentry {margin-right:5px; margin-bottom:5px;}

.centeredImage{text-align:center;margin-top:0px;margin-bottom:0px;padding:0px;}

a.linkIconBlue{background-image: url(icon_link_bluearrow_m.png);padding-left:20px;background-repeat: no-repeat;}

img.image-right {float:right; margin:0.5em 1em 0.5em 0pt;}

td.t15data {background-color:transparent !important; }

span.highlight {color:#CC3333;font-size:16px;font-weight:bold;margin:0.3em 0pt;}


/* Form styling */
table.rsf-fieldcontainer {
	background-color: #F9FBFD;
	color: #000000;
	border: 1px solid #D7E5F2;
	border-collapse: collapse;
	padding:0;
}

table.rsf-fieldcontainer .rsf-header td{
	border-bottom: 1px solid #D7E5F2;
	padding: 0;
}

table.rsf-fieldcontainer .rsf-title{
	color:#000000;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:1.1em;
	font-weight:bold;
	padding: .35em;
}

table.rsf-fieldcontainer .rsf-subheading{
	color:#000000;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:1.1em;
	font-weight:bold;
	margin-left: -5px;
}

table.rsf-fieldcontainer td.rsf-body .formlayout td{
	border-bottom: 1px solid #D7E5F2;
	padding: .35em;
}

table.rsf-fieldcontainer td p {
	margin: 0;
	padding: 0;
}

table.rsf-fieldcontainer #submit {
	font-weight: bold;
	width: auto;
}

table.rsf-fieldcontainer #name,
table.rsf-fieldcontainer #email,
table.rsf-fieldcontainer #website {
	width: 250px;
}

table.rsf-fieldcontainer #subject,
table.rsf-fieldcontainer #description {
	width: 500px;
}

td.rsf-fieldtitle {
	background-color: #EFF5FA;
	color: #6A6A6A;
	font-weight: bold;
	width: 22%;
}

td.rsf-fieldcontent {
	width: 78%;
}

td.rsf-fieldcontent h3 {
	color: #000000;
	padding-left: .5em;
}

td.rsf-header {
}

table.rsf-fieldcontainer .formlayout {margin:0; padding:0; border-collapse:collapse;border-spacing:0;width:100%;}

p.alert{width:80%;}

div.t15Success{width:80%;margin-top:15px;}

/* Pagination soll etwas kleiner sein => 11px */
.pagination .fielddata { font-size: 11px;}


/* */
ul ul {margin-left: 30px;}


/* CSS RESET, danach die Abstaende gut setzen */
h1,h2,h3,h4,h5,h6{margin:0;padding:0}

/*
h1{margin-top: 50px;}

h2{margin-top: 40px;}
*/

div.header-arrow h3{margin-top: 30px;}

h4{margin-top: 20px; margin-bottom: 10px;}

h5{margin-top: 10px; margin-bottom: 10px;}

h6{margin-top: 5px; margin-bottom: 10px;}

